/* 全局重置 & 盒模型 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/* HTML & Body 基础设置 */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #c4c4c4;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://blog.frium.top/upload/flowes.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  cursor: url('/src/assets/cursor/Arrow.cur'), default !important;
  overflow-y: overlay;
  scroll-behavior: smooth;
}


/* 超链接默认样式 */
a {
  cursor: url('/src/assets/cursor/Hand.cur'), pointer !important;
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #f6cac9;
}

/* 表单元素 */
input,
textarea,
button,
select {
  font: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  cursor: url('@/assets/cursor/IBeam.cur'), auto !important;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

button {
  cursor: url('/src/assets/cursor/Hand.cur'), pointer !important;
  background: none;
  border: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* 列表 */
ul,
ol {
  list-style: none;
}

/* 图片 */
img {
  max-width: 100%;
  height: auto;
  display: block;
  user-select: none;
  -webkit-user-select: none;
}


/* 滚动条优化 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 45, 45, 1);
  border-radius: 4px;
  transition: border-radius 0.3s ease;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* 选中文本样式 */
::selection {
  background: #f6cac9;
  color: #fff;
}

/* 根变量 */
:root {
  --primary-color: #f6cac9;
  --text-color: #333;
  --bg-color: #fff;
}

/* 额外优化 */
#app {
  user-select: none;
}

i {
  font-style: normal;
}

.admin-container {
  box-sizing: content-box;
  width: calc(100% - 32px);
  margin: 16px;
  background-color: #fff;
  min-height: 500px;
  border-radius: 5px;
}