<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.frium.mapper.CommentMapper">
    <resultMap id="CommentVOMap" type="top.frium.pojo.vo.CommentVO">
        <id column="id" property="id" />
        <result column="comment_content" property="commentContent" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="username" property="username" />
        <result column="avatar" property="avatar" />
    </resultMap>


    <select id="getArticleComment" resultMap="CommentVOMap">
        SELECT
        c.comment_content,
        c.create_time,
        u.username,
        u.avatar
        FROM
        comment c
        LEFT JOIN
        user u ON c.user_id = u.id
        WHERE
        c.article_id = #{articleId}
        AND c.status = 1
    </select>

    <select id="getAllComments" resultType="top.frium.pojo.vo.CommentAllDetailVO">
        SELECT
            c.id AS Id,
            u.username AS username,
            u.email AS email,
            u.avatar AS avatar,
            a.title AS articleTitle,
            c.comment_content AS commentContent,
            c.create_time AS createTime,
            c.status AS status
        FROM
            comment c
                LEFT JOIN
            user u ON c.user_id = u.id
                LEFT JOIN
            article a ON c.article_id = a.id
    </select>


    <select id="searchComments" resultType="top.frium.pojo.vo.CommentAllDetailVO">
        SELECT
            c.id AS Id,
            u.username AS username,
            u.email AS email,
            u.avatar AS avatar,
            a.title AS articleTitle,
            c.comment_content AS commentContent,
            c.create_time AS createTime,
            c.status AS status
        FROM
            comment c
                LEFT JOIN user u ON c.user_id = u.id
                LEFT JOIN article a ON c.article_id = a.id
        WHERE c.comment_content LIKE CONCAT('%', #{searchInfo}, '%')
    </select>


</mapper>