<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.frium.mapper.UserMapper">
    <select id="getUserPermission">
        select role_key
        from user_role
                 join role on user_role.role_id = role.id
        where user_role.user_id = #{id}
    </select>
    <insert id="addUserPermission">
        insert into user_role (role_id, user_id)
        values (#{permission},#{userId})
    </insert>
    <delete id="deleteUserPermissionByUserId">
        DELETE FROM user_role
        WHERE user_id = #{userId}
    </delete>

    <update id="updateUserPermissionByUserId">
        UPDATE user_role
        SET role_id = #{permission}
        WHERE user_id = #{userId}
    </update>

    <select id="getUserList" >
        SELECT u.*, ur.role_id as auth
        FROM user u
                 LEFT JOIN user_role ur ON u.id = ur.user_id
        ORDER BY auth
    </select>
</mapper>