<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.frium.mapper.LabelMapper">
    <select id="getArticleLabels">
        select name
        from label
        where label.id in (select label_id from article_label where #{articleId} = article_label.article_id)
    </select>
    
    <select id="getAllLabel">
        select name from label
    </select>
    
    <select id="getLabelsNumber">
        select name from label join article_label on label.id = article_label.label_id;
    </select>
</mapper>
